body {
	margin:0;
    background-color: #4c646c;
    color: #f7f4f4;
    
}
.form{
    margin-top: 150px;
    margin-left: 15%;
    margin-right: 15%;
}
#form{
    margin-top: 70px;
}
#wish_icon{
    width: 110px;
    height: 100px;
    display: inline;
    float: right;
    margin-top: 60px;
    margin-right: 380px;
}
.seller{
    display: inline;
    float: right;

}
.table{
    padding-left: 2px;  
    color: #f7f4f4;
}
tr{
    border: #4c646c;
}
.title{
    text-align: center;
    padding-left: 30px;
    color: #f7f4f4;
}
#title{
    padding-top: 80px;
}
.title_add{
    text-align: left;
    padding-left: 30px;
}
.mainslide{
    width: 500px;
    height: 250px;
}
input, select{
    width: 100%;    
    font-size: 18px;
}
label{
    font-size: 18px;
}
#active{
    color: #eaf3f3;
    background: rgba(15, 15, 15, 0.158);
    padding: 8px;
    border-radius: 18px;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

  article {
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
  
  .thumbnail {
    height: 100px;
    margin: 10px;
    width: 180px;
  }
  .thumbnail1 {
    height: 80px;
    margin: 1px;
    width: 120px;
  }

  output{
      display: inline;
  }

 input,select,label,h2,h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
    padding: 5px;
 }

 label{
     color: #f7f4f4;
 }

 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    
 }
 /* a>b{
    font-size: 25px;
} */